div {
    /* border: 1px solid red; */
   }
   
   section {
     border: 1px solid green;
   }
   .content {
   
   }
   
   
   
   .digits {
   
   }
   
   
   .black_white {
     background-color: black;
     color: white;
   }